/*********/
/* ABOUT */
/*********/
.about-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.25rem; /*20*/
}

.about-item {
	width: calc(100%);

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1.25rem; /*20*/
	
	background-color: #151a25;
	border-radius: 1.875rem; /*30*/
	border: 1px solid rgba(255, 255, 255, 0.08);
	box-shadow:
  		0 4px 6px rgba(0, 0, 0, 0.35),
  		0 0 4px rgba(255, 255, 255, 0.05);

	padding: 1.25rem; /*20*/

	transition: box-shadow 0.3s ease, border-color .3s ease;
}

.about-item:hover {
  	box-shadow:
  		0 6px 12px rgba(0, 0, 0, 0.45),
  		0 0 8px rgba(124, 131, 173, 0.12);
	border-color: rgba(124, 131, 173, 0.3);
}

.about-item i {
	font-size: 2.5rem; /*40*/
	color: #7c83ad;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	display: block;
}

.about-text {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-size: 1rem; /*16*/
	font-weight: 400;
	text-align: center;
	color: #e6e6e6;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}