/*************/
/* Formacion */
/*************/
.timeline {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.timeline::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 5px;
	border-radius: 15px;
	height: 100%;
	background-color: #1A3A4C;
}

.timeline-item {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.timeline-item::before {
  	content: "";
 	position: absolute;
  	width: 15px;
  	height: 15px;
  	background-color: #5D7098;
  	border: 2.5px solid rgba(200, 200, 200, 0.3);
  	box-shadow: 0px 0px 5px rgba(200, 200, 200, 0.5);
  	border-radius: 50%;
  	z-index: 1;
}

.timeline-item.izquierda {
	justify-content: start;
	text-align: left;
}

.izquierda::before {
	right: calc(50%);
}

.timeline-item.derecha {
	justify-content: end;
	text-align: right;
}

.derecha::before {
  	left: calc(50%);
}

.timeline-item .contenido {
	background-color: #112B3C;
	border: 1px solid #2A4D65;
	border-radius: 30px;
	padding: 30px;
	position: relative;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	width: calc(50% - 30px);
}

.timeline-item .formacion-titulo {
  font-size: 25px;
  font-weight: 600;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.timeline-item .formacion-lugar {
  font-weight: 500;
  margin-bottom: 10px;
  color: #dbdbdb;
}

.timeline-item .formacion-descripcion {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #bbbbbb;
  font-weight: 400;
}

.timeline-item .formacion-fecha {
  font-size: 14px;
  color: #cbcbcb;
}