* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--blue-dark: #0B1E30;
	--blue-medium: #2A4D65;
	--blue-light: #5d7098;
	--accent-green: #A6FF4D;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Quicksand', sans-serif;
	background: linear-gradient(to bottom, #0f0f0f, #141824, #263849);
	width: 100%;
	height: 100%;
}

/***********/
/***********/
/*Scrollbar*/
/***********/
/***********/
::-webkit-scrollbar {
    width: 0.5625rem;/*9px*/ /*Ancho de la barra de desplazamiento*/
}

::-webkit-scrollbar-track {
    background-color: var(--blue-dark); /*Color de fondo del track*/
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-medium); /*Color del thumb*/
    border-radius: 0.5625rem; /*Bordes redondeados*/
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-light); /*Cambia de color al pasar el mouse*/
}

::-webkit-scrollbar-button {
    display: none; /*Esto oculta las flechas de arriba y abajo*/
}

/*******************/
/*Estilos Generales*/
/*******************/
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
	display: block;
    cursor: pointer;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    transition: color 0.3s ease, background-color 0.3s ease, border-color .3s ease, box-shadow .3s ease;
}

img {
	display: block;
}

/********************************************************/
/*Estilos para controlar el crecimiento de las secciones*/
/********************************************************/
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    padding: 4.6875rem 9.375rem; /*75px 150px*/
	padding: 4.6875rem 125px; /*75px 150px*/
}

/********/
/*Header*/
/********/
.logo {
	width: 150px;
	height: 100%;
}
.logo img {
	width: 100%;
}
.principal-header {
	display: flex;
	justify-content: space-between;
	padding: 15px 100px;
	position: relative;
}

.principal-header > button {
	display: none;
	font-size: 25px;
	padding: 5px;
	font-weight: 700;
	color: #e0e6ff;
	background-color: transparent;
	border: none;
	z-index: 1000;
}

.principal-nav {
	background-color: rgba(15, 15, 15, 1);
}

.principal-nav ul {
	display: flex;
	align-items: center;
	gap: 30px;
}

.principal-nav ul a {
	color: #e0e6ff;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.5px;
	padding: 15px 0px;
	position: relative;
	transition: color .3s ease;
}

.principal-nav ul a:hover {
	color: #80d0ff;
}

.principal-nav ul a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    border-radius: 3px;
    background-color: #80d0ff;
    transition: width 0.3s ease;
}

.principal-nav ul a:hover::after {
  	width: 100%; /*Línea al 100% al hacer hover*/
}

.principal-nav ul a.active {
  color: #ffffff;
  font-weight: 600;
}

@media screen and (max-width: 753px) {
	.principal-header {
		padding: 15px 75px;
	}
}

@media screen and (max-width: 703px) {
	.principal-header {
		padding: 15px 50px;
	}
}

@media screen and (max-width: 703px) {
	.principal-nav {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 0;
		z-index: 999;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.principal-header > button {
		display: flex;
	}

	.principal-nav ul {
		flex-direction: column;
		gap: 15px;
	}

	.principal-nav ul li {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.principal-nav ul a {
		font-size: 30px;
	}
}

@media screen and (max-width: 520px) {
	.principal-header {
		padding: 15px 30px;
	}
}

/******/
/******/
/*Hero*/
/******/
/******/
.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3.125rem 9.375rem; /*50px 150px*/
}

.hero-content {
	text-align: center;
	max-width: 750px;
	width: calc(100%);
}

.hero-content h1 {
	font-size: 60px;
	color: #fbfbfb;
	font-weight: 700;
	margin-bottom: 15px;
	text-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

.hero-content p {
	font-size: 25px;
	color: #cbcbcb;
	font-weight: 600;
	margin-bottom: 30px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.buttons-hero {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.buttons-hero a {
	font-size: 20px;
	font-weight: 600;
	padding: 15px 30px;
	border-radius: 50px;
	border: none;
	transition: background-color .3s ease, border .3s ease, color .3s ease, box-shadow .3s ease;
}

.buttons-hero a:first-child {
	background-color: #4ac1ff;
	border: 3px solid #ffffff20;
	box-shadow: 0 4px 8px #4ac1ff60;
	color: #0f0f0f;
}

.buttons-hero a:first-child:hover {
	background-color: #3ba8df; /* Cambia a un tono más oscuro de amarillo */
	color: #0a0a0a;
	box-shadow: 0 4px 12px #4ac1ff90;
}

.buttons-hero a:last-child {
	background-color: transparent;
	border: 3px solid #4ac1ff;
	box-shadow: 0 2px 4px #00000088;
	color: #dce6ff;
}

.buttons-hero a:last-child:hover {
	background-color: #1d2e4a; /* Cambia a un tono más oscuro de azul */
	color: #ffffff;
	border: 3px solid #78d7ff;
}

/*1014 arreglar h del hero.*/
@media screen and (max-width: 1014px) {
	.hero-content h1 {
		font-size: 55px;
	}

	.hero-content p {
		font-size: 20px;
	}

	.buttons-hero a {
		font-size: 18px;
		padding: 12px 24px;
	}

}

@media screen and (max-width: 955px) {
	.hero-content h1 {
		font-size: 50px;
	}
}

@media screen and (max-width: 896px) {
	.hero-content h1 {
		font-size: 45px;
	}
}

@media screen and (max-width: 838px) {
	.hero {
		padding: 3.125rem 125px; /*50px 150px*/
	}
}

@media screen and (max-width: 788px) {
	.hero {
		padding: 3.125rem 100px;
	}
}

@media screen and (max-width: 729px) {
	.hero {
		padding: 3.125rem 75px;
	}
}

@media screen and (max-width: 679px) {
	.hero {
		padding: 3.125rem;
	}
}

@media screen and (max-width: 629px) {
	.hero-content h1 {
		font-size: 40px;
	}

	.hero-content p {
		font-size: 18px;
	}

	.buttons-hero a {
		font-size: 16px;
		padding: 10px 20px;
	}
}

@media screen and (max-width: 573px) {
	.hero-content h1 {
		font-size: 35px;
	}

	.hero-content p {
		font-size: 16px;
	}

	.buttons-hero {
		display: flex;
		justify-content: center;
		gap: 15px;
		flex-direction: column;
	}
}

@media screen and (max-width: 520px) {
	.hero {
		padding: 30px;
	}
}























/**/
.sobre-mi-main {
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 30px;
	max-width: 800px;
	margin: auto;
}

.img-sobre-mi {
	width: calc(35% - 15px);
	max-width: calc(35% - 15px);
	/*border-radius: 30px;*/
}

.img-sobre-mi img {
	width: 100%;
	border-radius: 30px;
	box-shadow: 0px 0px 10px #878787;
}

.img-sobre-mi h1 {
	font-size: 25px;
	color: #fbfbfb;
	font-weight: 600;
}

.info-sobre-mi {
	width: calc(65% - 15px);
	max-width: calc(65% - 15px);
}

.info-sobre-mi > main {
	margin-bottom: 15px;
}

.info-sobre-mi > main > p {
	color: #fbfbfb;
	font-size: 18px;
	font-weight: 400;
}

/*******/
/*Links*/
/*******/
.links {
	display: flex;
	gap: 15px;
}

.links a {
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 15px;
	color: #00FFFF;
	border-radius: 10px;
	transition: background-color 0.3s ease, border 0.3s ease;
}

.link-2 a {
	background-color: #003366;
}

.link-2 a:hover {
	background-color: #4B0082;
}

.link-3 a {
	background-color: rgba(30, 58, 86, 1);
	border: 1px solid #284E74;
}

.link-3 a:hover {
	background-color: #284E74;
	border: 1px solid rgba(30, 58, 86, 1);
}

/**/
/**/
.divisor-container {
	max-width: 1440px;
    margin: 0 auto;
	padding: 0 9.375rem;
}

.divisor {
    border: none;
    border-radius: 0.9375rem;
    height: 1px;
    /*background: linear-gradient(to right, transparent, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), transparent);*/
	background: linear-gradient(to right,
        transparent,
        rgba(75, 95, 155, 0.2),
        rgba(75, 95, 155, 0.25),
        rgba(75, 95, 155, 0.2),
        transparent);
    width: 100%;
}

.header-section {
	margin-bottom: 30px;
}

.titulo-seccion {
	font-weight: 700;
	margin-bottom: 15px;
	text-transform: uppercase;
	color: #e0e6ff;
	font-size: 30px;
}

.header-section p {
	font-weight: 500;
	color: #b0b8d1;
	font-size: 18px;
}

/**/
/**/
.skills {
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}

.skills > div {
	padding: 30px;
	/*box-shadow: 0px 0px 5px #878787;*/
	border-radius: 30px;
	/*background-color: #022d5a;*/
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	transition: translate .3s ease;
}

.skills > div:hover {
	translate: 0 -10px;
}

.skills > div:hover img {
	transform: scale(1.2);
}

.skills > div:hover p {
	transform: scale(1.2);
}

.skills > div img {
	display: block;
	width: 100%;
	max-width: 50px;
	margin-bottom: 10px;
	transition: transform .3s ease;
}

.skills > div p {
	font-size: 16px;
	text-align: center;
	color: #fbfbfb;
	font-weight: 500;
	transition: transform .3s ease;
}

/***********/
/*Proyectos*/
/***********/
.filtros {
	width: auto;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.filtros button {
	padding: 10px 20px;
	border-radius: 30px;
	font-size: 1rem;
	font-weight: 700;
	border: none;
}

.filtros button {
	background-color: transparent;
    border: 3px solid #4ac1ff;
    box-shadow: 0 2px 4px #00000088;
    color: #dce6ff;
}

.filtros button.active {
	background-color: #4ac1ff;
	color: #0f0f0f;
	border: 3px solid #ffffff20;
    box-shadow: 0 4px 8px #4ac1ff60;
}

.proyectos {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: start;
	gap: 1.875rem;
}

.tarjeta-proyecto {
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.03);
	border: 1px solid rgba(255, 255, 255, 0.08);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: border-color .3s ease, box-shadow .3s ease;
}

.tarjeta-proyecto:hover {
	border-color: rgba(173, 216, 230, 0.25); /* un azul suave */
	box-shadow: 0 6px 12px rgba(173, 216, 230, 0.15);
}

.tarjeta-proyecto img {
	border-radius: 15px;
	width: 100%;
  	display: block;
	margin-bottom: 15px;
}

.tarjeta-proyecto h1 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #e0e6ff;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.tarjeta-proyecto p {
	margin-bottom: 20px;
	color: #b0b8d1;
	font-size: 18px;
	font-weight: 500;
}

.tarjeta-proyecto-tecnologias {
	margin-bottom: 30px;
	display: flex;
	justify-content: start;
	gap: 10px;
	flex-wrap: wrap;
}

.tarjeta-proyecto-tecnologias span {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	color: #fbfbfb;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
	font-size: 15px;
	font-weight: 600;
}

.tarjeta-proyecto-tecnologias span i {
	margin-right: 5px;
}

.tag-html {
	background-color: #e34c26;
	border: 1px solid #ff6d3d;
}
  
.tag-css {
	background-color: #264de4;
	border: 1px solid #4f80ff;
}
  
.tag-javascript {
	background-color: #f0db4f;
	border: 1px solid #ffe44d;
}
  
.tag-php {
	background-color: #8993be;
	border: 1px solid #b0b5d1;
}
  
.tag-mysql {
	background-color: #00618a;
	border: 1px solid #009ac7;
}
  
.tag-java {
	background-color: #b07219;
	border: 1px solid #e3913a;
}
  
.tag-git {
	background-color: #f1502f;
	border: 1px solid #ff744c;
}

.links-repositorio {
	display: flex;
	justify-content: end;
	gap: 10px;
}

.links-repositorio a {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: center;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	width: 45px;
	height: 45px;
	transition: background-color 0.3s ease, border 0.3s ease;
}

/*.links-repositorio a:focus {
	outline: 2px solid #fbfbfb;
	outline-offset: 2px;
}*/

.btn-github {
	background-color: #4b5f9b;
	color: #d0d8ff;
	border: 1px solid #4b5f9b;
}

.btn-github:hover {
	background-color: #5e75c2;
	border-color: #5e75c2;
    box-shadow: 0 0 10px rgba(94, 117, 194, 0.35);
}

.btn-sitio {
	background-color: transparent; /* tu azul claro */
	color: #aeb8d0;
    border: 1px solid #313c5c;
}
  
.btn-sitio:hover {
	color: #d0d8ff;
    border-color: #4b5f9b;
    background-color: rgba(75, 95, 155, 0.05);
    box-shadow: 0 0 10px rgba(75, 95, 155, 0.25);
}

/***********/
/*Formacion*/
/***********/
.timeline {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.timeline::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 5px;
	border-radius: 15px;
	height: 100%;
	background-color: #1A3A4C;
}

.timeline-item {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.timeline-item::before {
  	content: "";
 	position: absolute;
  	width: 15px;
  	height: 15px;
  	background-color: #5D7098;
  	border: 2.5px solid rgba(200, 200, 200, 0.3);
  	box-shadow: 0px 0px 5px rgba(200, 200, 200, 0.5);
  	border-radius: 50%;
  	z-index: 1;
}

.timeline-item.izquierda {
	justify-content: start;
	text-align: left;
}

.izquierda::before {
	right: calc(50%);
}

.timeline-item.derecha {
	justify-content: end;
	text-align: right;
}

.derecha::before {
  	left: calc(50%);
}

.timeline-item .contenido {
	background-color: #112B3C;
	border: 1px solid #2A4D65;
	border-radius: 30px;
	padding: 30px;
	position: relative;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	width: calc(50% - 30px);
}

.timeline-item .formacion-titulo {
  font-size: 25px;
  font-weight: 600;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.timeline-item .formacion-lugar {
  font-weight: 500;
  margin-bottom: 10px;
  color: #dbdbdb;
}

.timeline-item .formacion-descripcion {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #bbbbbb;
  font-weight: 400;
}

.timeline-item .formacion-fecha {
  font-size: 14px;
  color: #cbcbcb;
}

/******************/
/*Footer principal*/
/******************/
/*.principal-footer {
	background: linear-gradient(0deg, #333 0%, #444 50%, #555 100%);
}*/

.footer-content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 50px;
	padding: 30px 150px;
	transition: padding .3s ease;
}

.info-personal p:first-child {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 5px;
	color: #d0d8ff;
}

.info-personal p:last-child {
	font-size: 16px;
	font-weight: 600;
	color: #aeb8d0;
}

.footer-redes-contacto h2 {
	text-align: center;
}

.footer-navegacion h2,
.footer-redes-contacto h2 {
	font-size: 20px;
	color: #d0d8ff;
	margin-bottom: 15px;
}

.footer-navegacion ul {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: start;
}

.footer-navegacion a {
	display: block;
	font-size: 16px;
	padding: 5px 0;
	color: #aeb8d0;
	font-weight: 500;
	transition: color .3s ease;
}

.footer-navegacion a:hover {
	color: #ffffff;
}

.redes-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.redes-links a {
	font-size: 18px;
	font-weight: 500;
	background-color: transparent;
	border: 1px solid #4b5f9b;
	color: #d0d8ff;
	border-radius: 10px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.redes-links a:hover {
	background-color: #4b5f9b;
    color: #ffffff;
    box-shadow: 0 0 8px rgba(75, 95, 155, 0.35);
}

@media screen and (max-width: 890px) {
	.footer-content {
		padding: 30px 100px;
	}
}

@media screen and (max-width: 790px) {
	.footer-content {
		padding: 30px 50px;
	}
}

@media screen and (max-width: 690px) {
	.footer-content {
		padding: 30px;
		gap: 30px;
	}
}

@media screen and (max-width: 650px) {
	.footer-content {
		flex-direction: column;
	}

	.footer-redes-contacto h2 {
		text-align: center;
	}
}

@media screen and (max-width: 256px) {
	.footer-content {
		padding: 15px;
	}
}

@media screen and (max-width: 218px) {
	.info-personal p:first-child {
		font-size: 25px;
	}

	.info-personal p:last-child {
		font-size: 15px;
	}

	.redes-links a {
		font-size: 16px;
		padding: 10px;
	}

	.footer-navegacion h2,
	.footer-redes-contacto h2 {
		font-size: 18px;
	}
}







/**/
/*Estilos para el modal*/
.modal {
  	display: none; /*Oculto por defecto*/
  	position: absolute;
  	z-index: 999;
  	background-color: #000; /*Fondo oscuro semi-transparente*/
  	color: #fff;
  	padding: 12px;
  	border-radius: 9px;
  	font-size: 18px;
  	opacity: 0; /*Inicialmente invisible*/
  	transition: opacity 0.5s ease, transform 0.5s ease; /*Transiciones para desvanecimiento y movimiento */
}

.modal-content {
  	text-align: center;
}

/**/
.social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.social-links a {
	text-decoration: none;
	font-weight: 500;
	display: block;
	padding: 0.1875rem 0.375rem; /*3px 6px*/
	transition: color 0.3s ease;
	color: #fff;
}

.social-links > li > a {
	font-size: 27px;
}

.social-links > li > a:hover {
	color: #1c5094;
}




.blob {
	position: absolute;
	width: 250px;
	height: 250px;
	background: radial-gradient(circle at 30% 30%, #ff0055, #ff6600);
	border-radius: 50%;
	mix-blend-mode: screen;
	opacity: 0.6;
	z-index: 1;
  }

  .blob:nth-child(2) {
	background: radial-gradient(circle at 30% 30%, #00ffff, #0099ff);
  }

  .blob:nth-child(3) {
	background: radial-gradient(circle at 30% 30%, #00ff99, #00cc66);
  }













  #skills-canvas {
    width: 100%;
    height: 400px; /* Puedes ajustar el tamaño según lo desees */
    background-color: #000; /* Fondo negro para la escena */
}
