/**********/
/* FOOTER */
/**********/
.footer-content {
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 75px;

	padding: 50px 100px;

	transition: padding .1s ease;
}

.info-personal h2 {
	margin-bottom: 5px;
}

.info-personal p {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 500;

	color: #bfa9ba;
  	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

	text-align: center;
}

.info-personal h2,
.footer-navegacion h2,
.footer-redes-contacto h2 {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 700;

	text-align: center;

	color: #e6e6e6;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.footer-navegacion h2,
.footer-redes-contacto h2 {
	margin-bottom: 15px;
}

.footer-navegacion ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.footer-navegacion a {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-size: 1rem; /*16*/
	font-weight: 500;
	color: var(--color-thistle);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

	display: block;
	
	padding: 5px 0;
	
	transition: color .3s ease;
}

.footer-navegacion a:hover {
	color: var(--color-periwinkle);
}

.redes-links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.redes-links a {
	font-size: 18px;
	font-weight: 500;
	background-color: transparent;
	border: 1px solid #4b5f9b;
	color: #d0d8ff;
	border-radius: 10px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.redes-links a:hover {
	background-color: #4b5f9b;
    color: #ffffff;
    box-shadow: 0 0 8px rgba(75, 95, 155, 0.35);
}

@media screen and (max-width: 886px) {
	.footer-content {
		padding: 50px 75px;
	}
}

@media screen and (max-width: 836px) {
	.footer-content {
		padding: 50px 50px;
	}
}

@media screen and (max-width: 786px) {
	.footer-content {
		padding: 30px;
	}
}

@media screen and (max-width: 746px) {
	.footer-content > div {
		margin-inline: auto;
	}
}

@media screen and (max-width: 460px) {
	.footer-content {
		gap: 50px;
	}

	.footer-content > div {
		flex: 1 1 100%;
	}

	.item-1 { order: 1; }
	.item-2 { order: 2; }
	.item-3 { order: 3; }
}