/********/
/* Hero */
/********/
.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 1.25rem; /*20*/
}

.hero-content {
	text-align: center;
}

.hero-content h1 {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-size: 1.875rem;
	font-weight: 700;
	color: #e6e6e6;
  	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);

	margin-bottom: 0.625rem; /*10*/
}

.hero-content p {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: var(--color-thistle);
  	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

	margin-bottom: 1.875rem;
}

.hero-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.25rem; /*20*/

	width: 100%;
}

.hero-buttons a {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 500;

	width: 100%;

	border-radius: 0.6225rem; /*10*/
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

	padding: 0.625rem 1.25rem; /*10 y 20*/

	transition: background-color .3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.hero-buttons a:hover,
.hero-buttons a:focus {
  	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.hero-buttons a:focus {
  	outline: 2px dashed #e6e6e6;
  	outline-offset: 4px;
}

/*******************/
/* PROJECTS BUTTON */
/*******************/
.hero-buttons a:first-child {
	background-color: transparent;
	color: #7c83ad;
	border: 1px solid #182346;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

	transition: background-color .3s, color .3s ease, border-color .3s ease, text-shadow .3s ease;
}

.hero-buttons a:first-child:hover,
.hero-buttons a:first-child:focus {
	background-color: #182346;
  	color: #e6e6e6;
	border-color: #3d5387;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

/******************/
/* CONTACT BUTTON */
/******************/
.hero-buttons a:last-child {
	background-color: #4aa3df;
  	color: #f5f5f5;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero-buttons a:last-child:hover,
.hero-buttons a:last-child:focus {
	background-color: #3a91ca;
  	color: #ffffff;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}