* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--blue-dark: #0B1E30;
	--blue-medium: #2A4D65;
	--blue-light: #5d7098;
	--accent-green: #A6FF4D;

	/* ACTUALLY PALETTE */
	--one: #0e0d15;
	--two: #182346;
	--three: #3d5387;
	--four: #7c83ad;
	--five: #bfa9ba;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #0e0d15;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; /* Mejora en Firefox */
  	text-rendering: optimizeLegibility;
}

/***********/
/*Scrollbar*/
/***********/
::-webkit-scrollbar {
    width: 0.5625rem; /*Ancho de la barra de desplazamiento*/
}

::-webkit-scrollbar-track {
    background-color: var(--blue-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-medium);
    border-radius: 0.5625rem; /*Bordes redondeados*/
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-light);
}

::-webkit-scrollbar-button {
    display: none; /*Esto oculta las flechas de arriba y abajo*/
}

/*********************/
/* Estilos generales */
/*********************/
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/*************/
/* CONTAINER */
/*************/
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/**********************************************************/
/* Estilos para controlar el crecimiento de las secciones */
/**********************************************************/
.section {
    padding: 60px 20px;
}

/*@media screen and (max-width: 1235px) {
	.section {
		padding: 100px 80px;
	}
}

@media screen and (max-width: 1195px) {
	.section {
		padding: 100px 60px;
	}
}

@media screen and (max-width: 1155px) {
	.section {
		padding: 100px 40px;
	}
}

@media screen and (max-width: 1115px) {
	.section {
		padding: 100px 20px;
	}
}

@media screen and (max-width: 1075px) {
	.section {
		padding: 100px;
	}
}*/

/*@media screen and (max-width: 997px) {
	.section {
		padding: 100px 50px;
	}
}*/

/*@media screen and (max-width: 947px) {
	.section {
		padding: 75px 30px;
	}
}*/

/************/
/* SECTIONS */
/************/
.section-header {
	text-align: center;
	margin-bottom: 30px;
}

.section-title {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 700;
	
	color: #F5F5F7;
	
	margin-bottom: 15px;
	text-transform: uppercase;
}

.section-description {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-size: 1.125rem; /*18*/
	font-weight: 400;
	color: #A8A8B3;
  	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/***********/
/* DIVIDER */
/***********/
.divider-container {
	max-width: 1440px;
    margin: 0 auto;
	padding: 0 1.25rem; /*20*/
}

.divider {
    border: none;
    border-radius: 0.9375rem;
    height: 1px;
	background: linear-gradient(
		to right,
        transparent,
        rgba(124, 131, 173, 0.2),
    	rgba(124, 131, 173, 0.25),
    	rgba(124, 131, 173, 0.2),
        transparent);
    width: 100%;
}

/*************************/
/* Estilos para el modal */
/*************************/
/*.modal {
  	display: none;
  	position: absolute;
  	z-index: 999;
  	background-color: #000;
  	color: #fff;
  	padding: 12px;
  	border-radius: 9px;
  	font-size: 18px;
  	opacity: 0;
  	transition: opacity 0.5s ease, transform 0.5s ease;
}

.modal-content {
  	text-align: center;
}*/



/**/
/*.social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.social-links a {
	text-decoration: none;
	font-weight: 500;
	display: block;
	padding: 0.1875rem 0.375rem;
	transition: color 0.3s ease;
	color: #fff;
}

.social-links > li > a {
	font-size: 27px;
}

.social-links > li > a:hover {
	color: #1c5094;
}*/