/********/
/* Hero */
/********/
.hero {
	display: flex;
	align-items: center;

	/*background: var(--color-bg-surface);*/

	padding: 4rem 3rem;
}

/* HERO TAG */
.hero__tag span {
	font-size: 0.7rem;
	font-weight: 500;
	
	display: inline-block;
	
	color: var(--color-btn-ghost-text);
	border: 1px solid var(--color-btn-ghost-border);
	border-radius: 999px;

	padding: 0.3125rem 0.625rem;

	margin-bottom: 1.25rem;
}

.hero__title {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 0.04rem;

	color: var(--color-text-primary);
}

.hero__subtitle {
    font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.03rem;

	color: var(--color-text-secondary);

	margin-top: 1rem;
}

.hero__description {
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.7;

	max-width: 500px;

	color: var(--color-text-muted);

	margin-top: 1rem;
}

/* ACTIONS */
.hero__actions {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;

	margin-top: 2rem;
}

.hero__action {
	font-size: 0.85rem;
	font-weight: 500;

	border-radius: 0.3125rem;

	padding: 0.625rem 1rem;
}

@media screen and (max-width: 1024px) {
	.hero {
		padding: 3rem 2.5rem;
	}
}

@media screen and (max-width: 900px) {
	.hero {
		padding: 3rem 2.25rem;
	}
}

@media screen and (max-width: 768px) {
	.hero {
		padding: 3rem 2rem;
	}
}

@media screen and (max-width: 600px) {
	.hero__inner {
		text-align: center;
	}

	.hero__actions {
		justify-content: center;
	}
}

@media screen and (max-width: 480px) {
	.hero {
		padding: 3rem 1.5rem;
	}

	.hero__actions {
		flex-direction: column;
	}

	.hero-action {
		width: 100%;
	}
}